@import "reset.css";
@import "general.css";
@import "nav.css";
@import "footer.css";

h1 {
   text-align: center;
   margin-top: 80px;
   padding: 1rem;
   color: var(--titleColor);
   font-size: 1.3rem;
}

h2 {
   margin-bottom: 1rem;
}

.beschrijving {
   border-radius: 1rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   margin-bottom: 2rem;
}

.activiteit1 .beschrijving {
   background-color: var(--blue);
}

.activiteit2 .beschrijving {
   background-color: var(--red);
}

.beschrijving img {
   width: 100%;
   border-top-left-radius: 1rem;
   border-top-right-radius: 1rem;
}

.activiteiten {
   margin: 1rem;
}

.tekst {
   padding: 1rem;
   color: white;
}

.tekst p {
   margin-bottom: 1rem;
}

.tekst a {
   text-decoration: none;
   color: white;
   padding: 0.5rem 1rem;
   border: 2px solid white;
   border-radius: 2rem;
   margin: 0rem 1rem;
   display: block;
   width: fit-content;
   margin-left: auto;
   transition: all 0.2s ease-in;
}

.activiteit1 .tekst a:hover {
   color: var(--blue);
   background-color: white;
}

.activiteit2 .tekst a:hover {
   color: var(--red);
   background-color: white;
}


/*** RESPONSIVE ***/


@media (min-width: 800px) {
   .activiteiten {
      display: flex;
      gap: 2rem;
      align-items: stretch;
   }

   .activiteit1,
   .activiteit2 {
      flex: 1;
      max-width: 50%;
      display: flex;
   }

   .activiteit1 {
      margin-left: 5rem;
   }

      .activiteit2 {
         margin-right: 5rem;
      }

   .beschrijving {
      display: flex;
      flex-direction: column;
      width: 100%;
   }

   .beschrijving img {
      height: auto;
      /* keep image natural */
      width: 100%;
      object-fit: cover;
   }

   .tekst {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   h1 {
      padding-top: 2rem;
      padding-bottom: 2rem;
   }
}