/****************/
/***  FOOTER  ***/
/****************/

.line {
   border: none;
   height: 2px;
   background-color: white;
   margin: 0 2rem;
}


footer {
   background-color: var(--yellow);
}

/***  CONTACT  ***/

.footerContact {
   text-align: center;
   padding: 2rem;
}

.footerContact address {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0.5rem;
   color: var(--titleColor);
}

.contactLine {
   display: flex;
   align-items: center;
   gap: 0.75rem;
}

/***  NAVIGATIE  ***/

.footerNav {
   display: flex;
   justify-content: center;
   padding: 2rem 0rem;
}

.footerNav ul {
   padding: 0;
   text-align: center;
}

.footerNav li a {
   text-decoration: none;
   color: var(--titleColor);
}

.footerNav li a:hover {
   text-decoration: underline;
}

.footerNav li {
   padding-bottom: 1rem;
}

.footerNav li:last-child {
   padding-bottom: 0;
}

/***  SOCIAL  ***/

.footerSocial {
   display: flex;
   justify-content: center;
   padding: 1rem;
}

.footerSocial ul {
   list-style: none;
   display: flex;
   gap: 1rem;
   padding: 0;
   margin: 0;
}

.footerSocial li a {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
}

.fbIcon,
.instaIcon {
   transition: all 0.2s ease-in-out;
}

.fbIcon:hover {
   fill: white;
   scale: 1.2;
}

.instaIcon:hover {
   fill: white;
   scale: 1.2;
}

/***  LOGO  ***/

.footerLogo img {
   width: 80%;
   padding-left: 1.5rem;
   padding-right: 3rem;
}

/***  RESPONSIVE  ***/

@media (min-width: 800px) {
   footer {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;
      padding-left: 0;
      padding-right: 0;
      gap: 1rem;
   }

   .footerContact,
   .footerNav,
   .footerSocial,
   .footerLogo {
      flex: 1 1 10%;
   }

   .line {
      display: none;
   }

   .footerNav ul {
      text-align: left;
   }

   .footerLogo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 3rem;
   }

   .footerLogo img {
      width: 200px;
      padding-left: 0;
   }


   .footerContact {
      margin-top: 2.5rem;
   }

   .footerSocial {
      margin-top: 5rem;
   }

   .contactLine {
      padding-bottom: 0.5rem;
   }
}

@media (min-width: 1000px) {
   footer {
      padding-left: 1rem;
      padding-right: 1rem;
   }
}

@media (min-width: 1200px) {
   footer {
      padding-left: 8rem;
      padding-right: 8rem;
      padding-top: 2rem;
   }
}