@import url('https://fonts.googleapis.com/css2?family=Orienta&family=Rammetto+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

:root {
   --titleColor: #222563;
   --yellow: #FBBD4C;
   --red: #FC5946;
   --green: #48D06F;
   --blue: #5D9EED;
}

body {
   font-family: Orienta;
}

h1 {
   font-family: rammetto one;
   font-size: 2.2rem;
   text-align: left;
   color: var(--titleColor);
}

h2 {
   font-family: rammetto one;
   font-size: 1.5rem;
   color: var(--titleColor);
}