/* SLIDESHOW */

.slideshow {
   position: relative;
   width: 100%;
   max-width: 600px;
   aspect-ratio: 4 / 3;
   overflow: hidden;
   height: auto;
}

.slideshow img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: none;
}

.slideshow img.active {
   display: block;
}

.slideshow button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: rgba(255, 255, 255, 0.7);
   border: none;
   padding: 0.75rem 1.25rem;
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
}

#prevBtn {
   left: 10px;
}

#nextBtn {
   right: 10px;
}

@media (max-width: 400px) {
   .slideshow button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
   }
}

/* QUICKLINKS*/

.quicklink,
a {
   text-align: center;
   display: block;
   text-decoration: none;
   color: white;
   margin-bottom: 1.5rem;
   padding: 1.5rem;
   border-radius: 1.5rem;
}

.quicklink1 {
   background-color: var(--pink);
}

.quicklink2 {
   background-color: var(--green);
}

.quicklink3 {
   background-color: var(--yellow);
}

.quicklink4 {
   background-color: var(--blue);
}

/*WRAPPER*/

.wrapper {
   background-image: url(../img/header_image.png);
   background-size: cover;
   padding: 3rem;
}

/*OTHER*/