@import "reset.css";
@import "general.css";
@import "nav.css";
@import "footer.css";

h1 {
   text-align: center;
   margin-top: 80px;
   padding: 1rem;
   color: var(--titleColor);
   font-size: 1.3rem;
}

/*** INFOMOMENTEN ***/

.infomomenten {
   text-align: center;
}

.infomomenten li {
   text-align: left;
}

.infomomenten li::before {
   content: "\2713";
   padding-right: 0.5rem;
}